## Table of Contents

* [General Settings](#settings)
* [Initial Exploration](#exploration)

## 1. General Settings <a class="anchor" id="settings"></a>

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline 
sns.set_context('notebook')

from IPython.display import display
from scripts.functions import get_restaurants_number

## 2. Initial Exploration <a class="anchor" id="exploration"></a>

In [7]:
data = pd.read_table('C:/Python/Projetos/Loft/data/Base_Final.txt', sep=";", encoding='utf-8')

In [12]:
cols = ['id', 'address', 'prefix', 'tower_name', 'building_type', 'Bairros Atendidos', 'Zona', 'latitude',
        'longitude', 'rooms', 'garages', 'useful_area', 'minimum_estimate', 'maximum_estimate', 'point_estimate',
        'restaurantes', 'distancia_mercado', 'distancia_metro', 'HDI', 'HDI.Income', 'HDI.Life.Expectancy', 'HDI.Education']

data = data[cols]

display(data.head())
display(data.describe().style)

,id,address,prefix,tower_name,building_type,Bairros Atendidos,Zona,latitude,longitude,rooms,...,minimum_estimate,maximum_estimate,point_estimate,restaurantes,distancia_mercado,distancia_metro,HDI,HDI.Income,HDI.Life.Expectancy,HDI.Education
0,0,"Alameda Itu, 254",1421.0,Torre única,Apartamento,JARDINS – Cerqueira César / Jardim Paulista / ...,Centro,"-23,5661984","-46,6568995",3,...,1794760,2428210.0,2111490,13817.0,"0,200776912638362","0,42207270392167","0,889","0,947","0,922","0,805"
1,1,"Alameda Santos, 1398",1419.0,Torre única,Apartamento,JARDINS – Cerqueira César / Jardim Paulista / ...,Centro,"-23,5638702","-46,6556006",2,...,517539,700200.0,608870,13832.0,"0,356923290693907","0,181473667546744","0,889","0,947","0,922","0,805"
2,2,"Avenida Paulista, 1195",1311.0,Torre única,Apartamento,CONSOLAÇÃO – Consolação / Bela Vista,Centro,"-23,5640691","-46,6535635",3,...,1787100,2417840.0,2102470,13917.0,"0,348151193242695","0,055019053878059","0,889","0,947","0,922","0,805"
3,3,"Avenida Paulista, 1195",1311.0,Torre única,Apartamento,CONSOLAÇÃO – Consolação / Bela Vista,Centro,"-23,5640691","-46,6535635",4,...,2344260,3171640.0,2757950,13917.0,"0,348151193242695","0,055019053878059","0,889","0,947","0,922","0,805"
4,4,"Alameda Santos, 1126",1419.0,Torre única,Apartamento,JARDINS – Cerqueira César / Jardim Paulista / ...,Centro,"-23,5653398","-46,6537675",3,...,956862,1294580.0,1125720,13888.0,"0,335788995954453","0,188834285005656","0,889","0,947","0,922","0,805"

,id,address,prefix,tower_name,building_type,Bairros Atendidos,Zona,latitude,longitude,rooms,...,minimum_estimate,maximum_estimate,point_estimate,restaurantes,distancia_mercado,distancia_metro,HDI,HDI.Income,HDI.Life.Expectancy,HDI.Education
0,0,"Alameda Itu, 254",1421.0,Torre única,Apartamento,JARDINS – Cerqueira César / Jardim Paulista / ...,Centro,"-23,5661984","-46,6568995",3,...,1794760,2428210.0,2111490,13817.0,"0,200776912638362","0,42207270392167","0,889","0,947","0,922","0,805"
1,1,"Alameda Santos, 1398",1419.0,Torre única,Apartamento,JARDINS – Cerqueira César / Jardim Paulista / ...,Centro,"-23,5638702","-46,6556006",2,...,517539,700200.0,608870,13832.0,"0,356923290693907","0,181473667546744","0,889","0,947","0,922","0,805"
2,2,"Avenida Paulista, 1195",1311.0,Torre única,Apartamento,CONSOLAÇÃO – Consolação / Bela Vista,Centro,"-23,5640691","-46,6535635",3,...,1787100,2417840.0,2102470,13917.0,"0,348151193242695","0,055019053878059","0,889","0,947","0,922","0,805"
3,3,"Avenida Paulista, 1195",1311.0,Torre única,Apartamento,CONSOLAÇÃO – Consolação / Bela Vista,Centro,"-23,5640691","-46,6535635",4,...,2344260,3171640.0,2757950,13917.0,"0,348151193242695","0,055019053878059","0,889","0,947","0,922","0,805"
4,4,"Alameda Santos, 1126",1419.0,Torre única,Apartamento,JARDINS – Cerqueira César / Jardim Paulista / ...,Centro,"-23,5653398","-46,6537675",3,...,956862,1294580.0,1125720,13888.0,"0,335788995954453","0,188834285005656","0,889","0,947","0,922","0,805"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29001,29001,"Av. Brigadeiro Faria Lima, S/n",1452.0,Torre única,Apartamento,JARDINS – Cerqueira César / Jardim Paulista / ...,Centro,"-23,5778119","-46,6866299",1,...,-1,-1.0,-1,13352.0,"0,538826288008523","1,31275052528272","0,889","0,947","0,922","0,805"
29002,29002,"Av. Brigadeiro Faria Lima, S/n",1452.0,Torre única,Apartamento,JARDINS – Cerqueira César / Jardim Paulista / ...,Centro,"-23,5778119","-46,6866299",1,...,-1,-1.0,-1,13352.0,"0,538826288008523","1,31275052528272","0,889","0,947","0,922","0,805"
29003,29003,"Rua Teodoro Sampaio, S/n",5406.0,Torre única,Conjunto,PINHEIROS – Pinheiros / Vila Madalena / Alto d...,Zona Oeste,"-23,5610636","-46,6833286",-1,...,-1,-1.0,-1,13176.0,"0,463739249670797","0,580175285780498","0,8595","0,9015","0,89825","0,7865"
29004,29004,"Rua Saguairu, S/n",2514.0,Torre única,Apartamento,CASA VERDE – Casa Verde / Parque Peruche,Zona Norte,"-23,5092964","-46,6531503",2,...,444660,666991.0,555826,12227.0,"0,834426866155925","2,31841573222048","0,797","0,794","0,8732","0,731"
29005,29005,"Rua Saguairu, S/n",2514.0,Torre única,Apartamento,CASA VERDE – Casa Verde / Parque Peruche,Zona Norte,"-23,5092964","-46,6531503",3,...,581023,871534.0,726279,12227.0,"0,834426866155925","2,31841573222048","0,797","0,794","0,8732","0,731"

In [40]:
lista = list()

for index, row in valuation_data2.iterrows():
    if row['latitude'] == 'None':
        lista.append(0)
    else:
        numero = get_restaurants_number(row['latitude'],row['longitude'])
        lista.append(numero)

In [41]:
valuation_data2['restaurantes'] = lista

In [43]:
valuation_data2.to_excel('C:/Python/Projetos/Loft/data/valuation_data_com_restaurantes_2.xlsx')

In [34]:
list(valuation_data[valuation_data['Unnamed: 0'] == 28859]['latitude'])[0] == 'None'

True

In [21]:
valuation_data2.to_excel('C:/Python/Projetos/Loft/data/valuation_data_com_restaurantes.xlsx')

In [8]:
metro = pd.read_csv('C:/Python/Projetos/Loft/data/metrosp_stations_v2.csv')
metro['line'].unique()

array(["['lilas']", "['verde']", "['azul', 'verde']", "['vermelha']",
       "['azul']", "['amarela']", "['prata']", "['lilas', 'verde']",
       "['amarela', 'azul']", "['amarela', 'vermelha']",
       "['azul', 'lilas']", "['azul', 'vermelha']", "['prata', 'verde']"],
      dtype=object)

In [6]:
valuation_data

,Unnamed: 0,address,tower_name,building_type,rooms,garages,useful_area,latitude,longitude,point_estimate,minimum_estimate,maximum_estimate
id,,,,,,,,,,,,
0,0,"Alameda Itu, 254",Torre única,Apartamento,3,1,177,-23.56619840,-46.65689950,2111490,1794760,2428210
1,1,"Alameda Santos, 1398",Torre única,Apartamento,2,1,65,-23.56387020,-46.65560060,608870,517539,700200
2,2,"Avenida Paulista, 1195",Torre única,Apartamento,3,1,170,-23.56406910,-46.65356350,2102470,1787100,2417840
3,3,"Avenida Paulista, 1195",Torre única,Apartamento,4,3,223,-23.56406910,-46.65356350,2757950,2344260,3171640
4,4,"Alameda Santos, 1126",Torre única,Apartamento,3,1,100,-23.56533980,-46.65376750,1125720,956862,1294580
...,...,...,...,...,...,...,...,...,...,...,...,...
29001,29001,"Av. Brigadeiro Faria Lima, S/n",Torre única,Apartamento,1,1,25,-23.57781190,-46.68662990,-1,-1,-1
29002,29002,"Av. Brigadeiro Faria Lima, S/n",Torre única,Apartamento,1,1,61,-23.57781190,-46.68662990,-1,-1,-1
29003,29003,"Rua Teodoro Sampaio, S/n",Torre única,Conjunto,-1,-1,-1,-23.56106360,-46.68332860,-1,-1,-1
29004,29004,"Rua Saguairu, S/n",Torre única,Apartamento,2,1,75,-23.50929640,-46.65315030,555826,444660,666991
29005,29005,"Rua Saguairu, S/n",Torre única,Apartamento,3,2,98,-23.50929640,-46.65315030,726279,581023,871534

In [9]:
import requests

response = requests.get("https://marketplace.ifood.com.br/v1/merchants?latitude=-23.56619840&longitude=-46.65689950&channel=IFOOD")

In [14]:
json.loads(response.content).get('total')

2684

In [12]:
import json